﻿@model Record.Domain.Dtos.EmployeeDtos
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
     $(document).ready(function ()
        {
            var fecha = new Date(); 
            var mes = fecha.getMonth()+1; 
            var dia = fecha.getDate(); 
            var ano = fecha.getFullYear(); 
            if(dia<10)
                dia='0'+dia; 
            if(mes<10)
                mes='0'+mes ;
            document.getElementById('fecha').value=ano+"-"+mes+"-"+dia;
        });
    function validar()
    {
         var date = new Date();
         var day = date.getDate();
         var month = date.getMonth() + 1;
         var year = date.getFullYear();
         var actual = `${year}-0${month}-${day}`;
        var fechaseleccionada = $("#fecha").val();

        if (actual > fechaseleccionada || actual === fechaseleccionada)
        {
            $("#msj").css("display", "none");
            $("#btn").prop("disabled", false);
        }
        else
        {
            document.getElementById("msjalert").innerText = "La fecha seleccionada no puede ser mayor a la actual.";
            $("#msj").css("display", "block");
            $("#btn").prop("disabled", true);
        }
    }
</script>
<body>
<div class="container">
    <h1 style="font-size: 20px;font-weight: 700;">Crear datos personales</h1>
    <form method="post" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row jumbotron">
            <div class="col-sm-6 form-group">
                <label for="address-1">Tipo de documento</label>
                <select required class="form-control" asp-for="IdentificationTypesId"
                        asp-items="@(new SelectList(Model.IdentificationType, "Id", "Description"))"></select>
                <span asp-validation-for="IdentificationTypesId" Id" class="text-danger"></span>
            </div>
            <div class="col-sm-6 form-group">
                <label for="address-2">Numero de identificacion</label>
                <input required asp-for="IdentificationNumber"  maxlength="20"  class="form-control"/>
                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
            </div>
            <div class="col-sm-6 form-group">
                <label for="name-f">Primer Nombre</label>
                <input required type="text" asp-for="FirstName"style="text-transform:uppercase"  maxlength="20" placeholder="Primer Nombre" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-sm-6 form-group">
                <label for="name-l">Otros Nombre</label>
                <input required type="text" asp-for="OtherNames" style="text-transform:uppercase" maxlength="20" placeholder="Otros Nombres" class="form-control"/>
                <span asp-validation-for="OtherNames" class="text-danger"></span>
            </div>
            <div class="col-sm-6 form-group">
                <label for="name-l">Primer apellido</label>
                <input required type="text" asp-for="Surname"  style="text-transform:uppercase" maxlength="20" placeholder="Primer Apellido" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="col-sm-6 form-group">
                <label for="name-l">Segundo apellido</label>
                <input required type="text" asp-for="SecondSurname" style="text-transform:uppercase" maxlength="20" placeholder="Segundo Apellido" class="form-control"/>
                <span asp-validation-for="SecondSurname" class="text-danger"></span>
            </div>
            <div class="col-sm-4 form-group">
                <label for="State">Area</label>
                <select class="form-control" asp-for="AreaId"
                        asp-items="@(new SelectList(Model.Areas, "Id", "Description"))"></select>
                <span asp-validation-for="AreaId" Id" class="text-danger"></span>
            </div>
            <div class="col-sm-2 form-group">
                <label for="zip">Pais</label>
                <select class="form-control" asp-for="CountryId"
                        asp-items="@(new SelectList(Model.Country, "Id", "Description"))"></select>
                <span asp-validation-for="CountryId" Id" class="text-danger"></span>
            </div>
            <div class="col-sm-6 form-group">
                <label for="Country">Fecha de admision</label>
                <input required type="date" asp-for="Admissiondate" id="fecha" class="form-control" onchange="validar()"/>
                <span asp-validation-for="Admissiondate" class="text-danger"></span>
            </div>
            <div class="alert alert-danger" role="alert" id="msj" style="display:none">
                <label id="msjalert"></label>
            </div>
            <div class="col-sm-12 form-group mb-0">
                <input type="submit" value="Guardar empleado"  id="btn" class="btn btn-primary"/>
            </div>


        </div>
    </form>
    @if (@ViewBag.Mss != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Mss
        </div>
    }
</div>


</body>
