﻿@model IEnumerable<Record.Domain.Dtos.EmployeeIndexDto>
 <head>
   @{
     ViewData["Title"] = "Index";
     Layout = "~/Views/Shared/_Layout.cshtml";
   }
 </head>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('#tableEmployee').DataTable();
        });

        $('button#valuedata').click(function ()
        {
            var url = 'https://localhost:44357' + $(this).attr("value");
            $('#modalBody').load(url);
        });
        function ShowCreate()
        {
            var create = 'https://localhost:44357/Employee/Create';
            $('#modalBody').load(create);
        }
       
    </script>


}
<style>
.container 
{
  display: table  !important;
}
</style>
<body>
    <br />
    <br />
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" onclick="ShowCreate()">
       Crear nuevo cliente
    </button>
    <br />
    <br />
    <br />
    <table id="tableEmployee" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col" style="display:none">#</th>
                <th scope="col">Tipo de Id</th>
                <th scope="col">Documento</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Nombres</th>
                <th scope="col">Pais</th>
                <th scope="col">Correo</th>
                <th scope="col">Dominio</th>
                <th scope="col">Area</th>
                <th scope="col">Fecha Admision</th>
                <th scope="col">Fecha Creación</th>
                <th scope="col">Fecha Modificación</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificationTypesText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullsurnames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admissiondate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @if (item.UpdateDate == Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                    {
                        @Html.DisplayFor(modelItem => string.Empty)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    }
                </td>
                <td class="Class_td" scope="col">
                    <button type="button" id="valuedata" value="/Employee/Edit/?id=@item.Id" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Actualizar
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="  max-width: 1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-weight:800;">Operaciones de empleado</h5>
                    <hr style=" background-color: #4349ff;height: 2px;width: 68%;margin-top: 39px;margin-left: -26%;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="modalBody">
                    ...
                </div>
            </div>
        </div>
    </div>
</body>



